<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.tillhub.paymentengine">

    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <application>
        <service
            android:name="de.lavego.zvt.ZvtPOIService"
            android:exported="false"
            tools:node="merge" />

        <activity
            android:name=".ui.CardPaymentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />

        <activity
            android:name=".ui.CardPaymentReversalActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="false"/>

        <activity
            android:name=".ui.CardPaymentPartialRefundActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="false"/>

        <activity
            android:name=".ui.TerminalReconciliationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="false"/>
    </application>


</manifest>
