<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".ui.connect.SoftpayConnectActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Payment"
            android:exported="false">
            <intent-filter>
                <action android:name="de.tillhub.paymentengine.softpay.ACTION_CONNECT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>