<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.tillhub.paymentengine">

    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <application
        android:networkSecurityConfig="@xml/network_security_config">
        <service
            android:name="de.lavego.zvt.ZvtPOIService"
            android:exported="false"
            tools:node="merge" />

        <activity
            android:name=".zvt.ui.CardPaymentActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Payment"
            android:exported="false" />

        <activity
            android:name=".zvt.ui.CardPaymentReversalActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Payment"
            android:exported="false"/>

        <activity
            android:name=".zvt.ui.CardPaymentPartialRefundActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Payment"
            android:exported="false"/>

        <activity
            android:name=".zvt.ui.TerminalReconciliationActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Payment"
            android:exported="false"/>

        <activity
            android:name=".opi.ui.OPIPaymentActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Payment"
            android:exported="false" />

    </application>
</manifest>
