<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.tillhub.paymentengine">

    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <package android:name="de.spayment.akzeptanz" />
    </queries>

    <application
        android:networkSecurityConfig="@xml/network_security_config">
        <service
            android:name="de.lavego.zvt.ZvtPOIService"
            android:exported="false"
            tools:node="merge" />

        <service
            android:name="de.tillhub.paymentengine.opi.OPIService"
            android:exported="false"
            android:foregroundServiceType="shortService"
            tools:node="merge" />

        <activity
            android:name=".zvt.ui.CardPaymentActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Payment"
            android:exported="false" />

        <activity
            android:name=".zvt.ui.CardPaymentReversalActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Payment"
            android:exported="false"/>

        <activity
            android:name=".zvt.ui.CardPaymentPartialRefundActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Payment"
            android:exported="false"/>

        <activity
            android:name=".zvt.ui.TerminalReconciliationActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Payment"
            android:exported="false"/>

        <activity
            android:name=".zvt.ui.TerminalLoginActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Payment"
            android:exported="false"/>

        <activity
            android:name=".opi.ui.OPIPaymentActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Payment"
            android:exported="false" />

        <activity
            android:name=".opi.ui.OPIPaymentReversalActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Payment"
            android:exported="false" />

        <activity
            android:name=".opi.ui.OPIPartialRefundActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Payment"
            android:exported="false" />

        <activity
            android:name=".opi.ui.OPIReconciliationActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Payment"
            android:exported="false" />

        <activity
            android:name=".opi.ui.OPILoginActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Payment"
            android:exported="false" />

    </application>
</manifest>
